<div id="about-wrapper">

  <article>
    <h2>Bitcoin for Business</h2>
    <p>
        Curious if Bitcoin can help your business?<br>
        Want to accept bitcoin payments, or use the blockchain?<br>
      That is why I am here.<br>
      <a class="call-to-action" href="/contact">
        Give me a Call
      </a>
    </p>
  </article>
  <article>
    <h2>Bitcoin as Money</h2>
    <p>
      Here are some areas where I could be of use to you.
      <ul>
        <li>Managing Bitcoin Payments</li>
        <li>Converting Bitcoin to FIAT</li>
        <li>Storing Bitcoin Securely</li>
        <li>Monitoring the Blockchain</li>
        <li>Making Automated Bitcoin Payments</li>
        <li>Integratihg with an Exchange</li>
        <li>Bitcoin Micropayments</li>
        <li>Bitcoin Remittance</li>
        <li>Bitcoin Wallet Security</li>
        <li>Managing Many Payments at the same time</li>
        <li>Creating Non-Standard Payments</li>
        <li>Bitcoin focused Projects</li>
      </ul>
    </p>
  </article>
  <article>
    <h2>Bitcoin as Data Ledger</h2>
    <p>
      Bitcoin is much more than money. It is the first ever truly immutable data ledger.
      <br>
      Depending on what your business does, the Data Ledger might help you for:
      <ul>
        <li>Proving the Authenticity of Documents and Events</li>
        <li>Tightening the Security of your Systems</li>
        <li>Sharing Documents with Users or Businesses</li>
        <li>Keeping a Backup of Critical Data</li>
        <li>Designing Protocols for OnChain Communication</li>
      </ul>
    </p>
  </article>
  <article>
    <h2>The Trap of Trends</h2>
    <p>
      Bitcoin is already decade old, yet few people actually understand what it is, and how it works. Even within the
      communities dedicated to Bitcoin, people still disagree on what Bitcoin actually is.
      <br>
      When this confusion is combined with the euphoria birthed from sudden increases of cryptocurrency prices, some
      truly
      absurd ideas get funded.
      <br>
      As a consultant, my task is not only to guide you to the good ways to use Bitcoin but also to help you stay clear
      of the bad ones.</p>
  </article>
</div>